.customShadow {
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
}

.userTable {
    @apply bg-white
}

.userTable th {
    @apply border text-base font-medium
}

.userTable td {
    @apply border text-base text-center
}

/* Custom CSS for hiding arrows */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows[type=number] {
    -moz-appearance: textfield;
}